.custom-checkbox
  .custom-control-label:after
    top: .2rem

@media (min-width: 576px)
  .custom-checkbox
    .custom-control-label:after
      top: .3rem

    .custom-control-label:before
      top: 5px

@media (min-width: 768px)
  .custom-checkbox
    .custom-control-label:after
      top: .45rem

    .custom-control-label:before
      top: 7px
